/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
  float: right;
  font-family: 'Chonburi', cursive;
  color: #909090;
  font-size: 3rem;
  width: 30%;
  margin-top: 15px;
}

h1 {
 margin-left: 1rem;
 margin-top: 1rem;
 font-size: 2.5rem;
 color: 	#585858;

 font-family: 'Muli', sans-serif;
 text-decoration: none;
}

.front-page h1 {
  font-size: 3em;
  color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
 margin-left: 1rem;
 margin-top: 1rem;
 font-size: 1.75rem;
 color: 	#585858;
 font-family: 'Muli', sans-serif;
 text-decoration: none;
}

h3 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.55rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}

p   {
  font-size: 1.45rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  line-height: 1.4;
}

header {
  background-color:  #282828;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    font-size: 1.25rem;
    color: 	#585858;
    font-family: 'Muli', sans-serif;
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 23%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

input + input {
    float: right;
}

.main {
  text-align: center;
}

.user-main {
  text-align: center;
}

.show-div {
  display: inline-block;
}

.overall_average_rating {
  text-align: center;

}

.form-title {
  margin-left: 40%;
  margin-right: 40%;
}

.top-nav {
 padding-top: 40px;
 flex-direction: row;
 justify-content: space-around;
 width: 60%;
}

.top-nav a {
 color: gray;
 text-decoration: none;
 font-family: 'Muli', sans-serif;
 margin-left: 1rem;
 margin-right: 1rem;
 width: 50%;
 font-size: 1.5rem;
}

.book-ctn {
display: flex;
flex-wrap: wrap;
height: 400px;
justify-content: center;
}

.book-card {
 transition: 0.3s;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 29%;
 padding: 5px;
 margin: 25px;
 text-align: center;
 border:1px solid #021a40;
}

.book-card img {
 max-width: 200px;
 object-fit: cover;
 margin-left: 15%;
 margin-right: 15%;
}


.new-review-link {
margin-left: 1rem;

}

.front-page {
  display: inline-block;
  width: 100%;
  height: 90vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/09/10/17/18/book-1659717_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}

.submit-class {
  font-size: 1.5rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:  25%;
  width: 13rem;
  margin-left: 35%;
  margin-right: 40%;
}

.special-link {
  display: inline-block;
  margin-left: 10px;

}

.statistics-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stats-card {
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 24%;
  padding: 5px;
  margin: 25px;
  text-align: center;
  border:1px solid #021a40;
  text-align: center;
}

#sort-methods {
  text-align: center;
}
#sort-methods p {
  display: inline;
}

#sort-methods li {
  display: inline;
  padding: 15px;
  width: 28%;
  font-size: 1.30rem;
  color: 	#585858;
  font-family: 'Muli', sans-serif;
}
